[submodule ".openmodules/affinity-extractor"]
	path = .openmodules/affinity-extractor
	url = https://github.com/Alb-O/om.affinity-extractor.git
[submodule ".openmodules/example-module"]
	path = .openmodules/example-module
	url = https://github.com/Alb-O/om.example-module.git
[submodule ".openmodules/doc-style"]
	path = .openmodules/doc-style
	url = https://github.com/Alb-O/om.doc-style.git
